.background-screens {
  background-image: url(./../assests/images/img/background-screens.jpg);
  background-size: cover;
  background-position: top;
  min-height: 100%;
  height: 100vh;
  position: relative;
}
