@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
body {
  font-family: "Montserrat";
  color: black;
  font-weight: bold;
}
.cartItem {
  display: grid;
  grid-template-columns: 120px 200px 75px;
  grid-template-rows: 110px;
  padding: 1em;
  border-radius: 10px;
  background: lightgray;
  align-self: end;
  justify-content: space-between;
  gap: 0px 20px;
}

.cartItem__image {
  width: 100px;
  object-fit: contain;
  border-radius: 10px;
}

.cartItem__details {
  display: grid;
  text-align: center;
}

.details__title {
  color: black;
  font-size: 0.8rem;
}

.details__desc {
  font-size: 1rem;
  bottom: 10px;
}

.details__price {
  font-size: 0.8rem;
  color: ffff;
  font-weight: bold;

  
}

.cartItem__actions {
  
  padding: 0.11rem;
  justify-content: space-between;
  padding: rem;
}

.cartItem__qty {
  
  align-items: center;
  right: 0;
  font-size: 0.9rem;
}

.cartItem__qty input {
  justify-content: center;
  font-size: 0.7rem;
  margin-left: 0.3rem;
  text-align: center;
  width: 30px;
  border-radius: 30px;
  border: 1px solid;
  padding: 1px;
  cursor: pointer;
}

.actions__deleteItemBtn {
  width: 25px;
  height: 25px;
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
  cursor: pointer;
  transition: all ease-in-out 0.7s;
  outline: none;
}

.actions__deleteItemBtn:hover {
  transform: scale(1.2) rotate(360deg);
  background-color: rgb(209, 15, 15);
}

.actions__deleteItemBtn img {
  width: 20px;
  height: 10px;
}
@media (max-width: 810px) {
 .cartItem {
    width: 330px;
  display: grid;
  grid-template-columns: 70px 160px 50px;
  grid-template-rows: 70px;
  padding: 5px;
  border-radius: 10px;
  background: lightgray;
  align-self: end;
  gap: 0px 20px;
}
.cartItem__image {
  width: 70px;
  object-fit: contain;
  border-radius: 10px;
}

.cartItem__details {
  display: grid;
  font-size: 0.5rem;
}

.details__title {
  color: black;
  font-size: 0.7rem;
  font-weight: bold;
}

.details__desc {
  font-size: 1rem;
  bottom: 1px;
}

.details__price {
  font-size: 0.7rem;
  font-weight: bold;

  
}

.cartItem__actions {
  
  padding: rem;
}

.cartItem__qty {
  
  align-items: center;
  font-size: 0.7rem;
}

.cartItem__qty input {
  
  
  width: 40px;
  border-radius: 50px;
  border: 1px solid var(--primary-color);
  
  cursor: pointer;
}

.actions__deleteItemBtn {
  width: 15px;
  height: 15px;
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
  cursor: pointer;
  transition: all ease-in-out 0.7s;
  outline: none;
}

.actions__deleteItemBtn:hover {
  transform: scale(1.2) rotate(360deg);
  background-color: rgb(209, 15, 15);
}

.actions__deleteItemBtn img {
  width: 10px;
  height: 10px;
}
}

@media (max-width: 500px) {
  .cartItem {
    width: 250px;
  display: grid;
  grid-template-columns: 60px 100px 40px;
  grid-template-rows: 50px;
  padding: 5px;
  border-radius: 10px;
  background: lightgray;
  align-self: end;
  gap: 0px 20px;
}
.cartItem__image {
  width: 50px;
  object-fit: contain;
  border-radius: 10px;
}

.cartItem__details {
  display: grid;
  font-size: 0.5rem;
}

.details__title {
  color: black;
  font-size: 0.5rem;
}

.details__desc {
  font-size: 1rem;
  bottom: 1px;
}

.details__price {
  font-size: 0.5rem;
  font-weight: bold;

  
}

.cartItem__actions {
  
  padding: rem;
}

.cartItem__qty {
  
  align-items: center;
  font-size: 0.5rem;
}

.cartItem__qty input {
  
  margin-left: 0rem;
  width: 30px;
  border-radius: 30px;
  border: 500px solid var(--primary-color);
  
  cursor: pointer;
}

.actions__deleteItemBtn {
  width: 15px;
  height: 15px;
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
  cursor: pointer;
  transition: all ease-in-out 0.7s;
  outline: none;
}

.actions__deleteItemBtn:hover {
  transform: scale(1.2) rotate(360deg);
  background-color: rgb(209, 15, 15);
}

.actions__deleteItemBtn img {
  width: 10px;
  height: 10px;
}
}

/* @media (max-width: 500px) {
  .cartItem {
    max-width: 300px;
    flex-direction: row;
    align-items: flex-start;
  }
  .cartItem__name {
    font-size: 0.2rem;
  }
  .cartItem__actions {
    max-width: 200px;
    flex-direction: column;
    position: sticky;
    justify-content: space-between;
    align-self: center;
    object-fit: inherit;
    align-items: flex-end;
    right: 0;
    height: 50%;
  }
  .cartItem__select,
  .cartItem__deleteBtn {
    padding: 10px 10px;
  }

  .cartitem__price {
    color: black;
    font-weight: bold;
    font-size: 0.2rem;
  }
  .cartItem__details {
    padding: 0.2rem;
    font-size: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--secondary-color);
    width: 50%;
  }
  .cartItem__qty {
    display: flex;
    font-size: 0.65rem;
    right: 0;
    font-weight: bold;
    float: right;
  }

  .cartItem__qty input {
    padding: 10px;
    margin-left: 0rem;
    width: 45px;
    border-radius: 30px;
    border: 100px solid var(--primary-color);
    outline: none;
    cursor: pointer;
  }

  .actions__deleteItemBtn {
    width: 25px;
    height: 20px;
    border: 1px solid var(--secondary-color);
    border-radius: 50%;
    cursor: pointer;
    align-items: center;
    transition: all ease-in-out 0.7s;
    outline: none;
  }

  .details__title {
    font-size: 0.6rem;
    color: black;
    font-weight: bold;
    position: relative;
  }
} */
