@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
/* @font-face {
  font-family: Montserrat;
  src: url(https://fonts.googleapis.com/css?family=Open+Sans&display=swap);
} */
body {
  font-family: "Montserrat";
  color: black;
  font-weight: bold;
}
.cartItem {
  font-family: "Montserrat";
  color: black;
  font-weight: bold;
  margin-bottom: 1rem;
  display: flex;
  gap: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 1px;
  position: relative;
  height: 100px;
  width: 500px;
  align-items: center;
  float: right;
  object-position: initial;
}

.cartItem__image {
  width: 100px;
  object-fit: contain;
  border-radius: 10px;
}

.cartItem__details {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--secondary-color);
  width: 50%;
  text-align: center;
}

.details__title {
  color: black;
  font-size: 0.9rem;
}

.details__desc {
  font-size: 0.8rem;
  bottom: 10px;
}

.details__price {
  font-size: 0.8rem;
  color: ffff;
  font-weight: bold;

  position: absolute;
  bottom: 0;
  text-align: center;
}

.cartItem__actions {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  object-fit: contain;
  right: 0;
  padding: 0.8rem;
}

.cartItem__qty {
  display: flex;
  align-items: center;
  right: 0;
  font-size: 0.8rem;
}

.cartItem__qty input {
  padding: 10px;
  margin-left: 0rem;
  width: 60px;
  border-radius: 30px;
  border: 100px solid var(--primary-color);
  outline: none;
  cursor: pointer;
}

.actions__deleteItemBtn {
  width: 25px;
  height: 25px;
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
  cursor: pointer;
  transition: all ease-in-out 0.7s;
  outline: none;
}

.actions__deleteItemBtn:hover {
  transform: scale(1.2) rotate(360deg);
  background-color: rgb(209, 15, 15);
}

.actions__deleteItemBtn img {
  width: 20px;
  height: 10px;
}
@media (max-width: 700px) {
  .cartItem__name {
    font-size: 0.2rem;
  }

  .cartItem__select,
  .cartItem__deleteBtn {
    padding: 8px 13px;
  }

  .cartitem__price {
    font-size: 0.2rem;
  }
}

@media (max-width: 500px) {
  .cartItem {
    max-width: 300px;
    flex-direction: row;
    align-items: flex-start;
  }
  .cartItem__name {
    font-size: 0.2rem;
  }
  .cartItem__actions {
    max-width: 200px;
    flex-direction: column;
    position: sticky;
    justify-content: space-between;
    align-self: center;
    object-fit: inherit;
    align-items: flex-end;
    right: 0;
    height: 50%;
  }
  .cartItem__select,
  .cartItem__deleteBtn {
    padding: 10px 10px;
  }

  .cartitem__price {
    color: black;
    font-weight: bold;
    font-size: 0.2rem;
  }
  .cartItem__details {
    padding: 0.2rem;
    font-size: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--secondary-color);
    width: 50%;
  }
  .cartItem__qty {
    display: flex;
    font-size: 0.65rem;
    right: 0;
    font-weight: bold;
    float: right;
  }

  .cartItem__qty input {
    padding: 10px;
    margin-left: 0rem;
    width: 45px;
    border-radius: 30px;
    border: 100px solid var(--primary-color);
    outline: none;
    cursor: pointer;
  }

  .actions__deleteItemBtn {
    width: 25px;
    height: 20px;
    border: 1px solid var(--secondary-color);
    border-radius: 50%;
    cursor: pointer;
    align-items: center;
    transition: all ease-in-out 0.7s;
    outline: none;
  }

  .details__title {
    font-size: 0.6rem;
    color: black;
    font-weight: bold;
    position: relative;
  }
}
